doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Invitation to Collaborate on YourApp
    style(type="text/css").
      body {
          margin: 0;
          padding: 0;
          min-width: 100%;
          font-family: Arial, sans-serif;
          font-size: 16px;
          line-height: 1.5;
          background-color: #FAFAFA;
          color: #222222;
      }

      h1 {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.25;
          margin-top: 0;
          margin-bottom: 15px;
          text-align: center;
      }

      p {
          margin-top: 0;
          margin-bottom: 24px;
      }

      .email-wrapper {
          max-width: 600px;
          margin: 0 auto;
      }

      .email-header {
          background-color: #0070f3;
          padding: 24px;
          color: #ffffff;
      }

      .email-body {
          padding: 24px;
          background-color: #ffffff;
      }

      .email-footer {
          background-color: #f6f6f6;
          padding: 24px;
      }

  body
    .email-wrapper
      .email-header
        h1 Invitation to Collaborate on Traverse
      .email-body
        p Hi #{contractorName}!
        p #{clientName} has invited you to collaborate on a project on Traverse. We believe your skills and expertise will contribute significantly to the success of this project.
        h2 Project Details:
        p #{projectDetails}
        p Click the following link to accept the invitation and start collaborating: #[a(href=invitationLink) Accept Invitation]
        p If you have any questions or need clarification on the project, feel free to reach out to #{clientName} directly.
      .email-footer
        p You received this email because you signed up for Traverse. If you didn't sign up, you can safely ignore this email.
